# =========================
# Build artifacts
# =========================
build/
*.o
*.d
*.out
*.exe
a.out

# =========================
# Libraries
# =========================
*.a
*.so

# =========================
# Binary output
# =========================
bin/**
!bin/
!bin/.gitkeep
!bin/logs/
!bin/logs/.gitkeep
!bin/tests/
!bin/tests/.gitkeep

# =========================
# Logs
# =========================
*.log

# =========================
# Test outputs
# =========================
tests/output/
tests/tmp/

# =========================
# Coverage
# =========================
*.gcda
*.gcno
coverage/

# =========================
# Temporary files
# =========================
*.tmp
*.swp

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/
.codex
compile_commands.json

